<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VestelCarShow.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF40CF4E263A18F900D6B673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF40CF64263A18FD00D6B673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF40CF6F263A18FD00D6B673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
